.hero.is-info {
    background: #2f3843;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
    white-space: nowrap;
}