{% load static %}<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=600px">
  <title>{{ title|default:"ISUCON13 Portal" }}</title>
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <link rel="icon" type="image/png" href="{% static "img/isucon_icon.png" %}">
  <link href="{% static "css/bulma.min.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "fontawesome/css/all.css" %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css" media="screen">
  <link href="{% static "css/landing.css" %}" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
  <div class="hero is-info is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="{% static "img/isucon13_white.png" %}" width="112" height="28">
              </a>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                <a class="button is-white is-outlined" target="_blank" href="{{ isucon_official_url }}">
                  <span class="icon">
                    <i class="fa fa-home"></i>
                  </span>
                  <span>ISUCON Site</span>
                </a>
              </span>
              <span class="navbar-item">
                <a class="button is-white is-outlined" target="_blank" href="{{ twitter_url }}">
                  <span class="icon">
                    <i class="fab fa-x-twitter"></i>
                  </span>
                  <span>ISUCON 公式アカウント</span>
                </a>
              </span>
              {% if regulation_url %}
              <span class="navbar-item">
                <a class="button is-white is-outlined" target="_blank" href="{{ regulation_url }}">
                  <span class="icon">
                    <i class="fa fa-clipboard-list"></i>
                  </span>
                  <span>Regulation</span>
                </a>
              </span>
              {% endif %}
              <span class="navbar-item">
                <a class="button is-white is-outlined" href="{% url "team_list" %}">
                  <span class="icon">
                    <i class="fas fa-list"></i>
                  </span>
                  <span>参加チーム</span>
                </a>
              </span>
              {% if user and user.is_authenticated and user.team %}
              <span class="navbar-item">
                <a class="button is-white is-outlined" href="{% url "team_settings" %}">
                  <span class="icon">
                    <i class="fas fa-info-circle"></i>
                  </span>
                  <span>チーム情報</span>
                </a>
              </span>
              {% endif %}
              {% if user and user.is_authenticated %}
              <span class="navbar-item">
                <a class="button is-white is-outlined" href="{% url "logout" %}">
                  <span class="icon">
                    <i class="fas fa-sign-out-alt"></i>
                  </span>
                  <span>ログアウト</span>
                </a>
              </span>
              {% else %}
              <span class="navbar-item">
                <a class="button is-white is-outlined" href="{% url "login" %}">
                  <span class="icon">
                    <i class="fas fa-sign-in-alt"></i>
                  </span>
                  <span>ログイン</span>
                </a>
              </span>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">

          {% for message in messages %}
          <article class="message is-{{ message.tags }}">
            <div class="message-body">
              {{ message }}
            </div>
          </article>
          {% endfor %}
  

          <div>
            <div>
              <img src="{% static "img/isucon13_white.png" %}" width="400px">
            </div>
            {% if is_registration_available %}
            <h1 class="title">
              大好評参加登録受付中！
            </h1>
            <h2 class="subtitle">
                <ul>
                  <li>8月30日(水)10:00〜　第一期 220枠</li>
                  <li>9月4日(月)20:00〜　第二期 200枠</li>
                  <li>9月9日(土)10:00〜　第三期 200枠</li>
                </ul>
                ※募集数の上限に達し次第、締め切る場合があります
                <br>
                登録後のチームに対するメンバーの追加・チーム情報の変更は10月31日(火)16:00まで 
            </h2>
            <div>
              {% if user.team %}
              <a class="button is-white is-outlined is-large" href="{% url "team_settings" %}">
                チーム登録情報はこちら
              </a>
              {% else %}
              <a class="button is-white is-outlined is-large" href="{% url "login" %}">
                参加登録！
              </a>
              <p>参加登録にはGitHubのアカウントを利用します</p>
              {% endif %}
            </div>
            {% else %}
            <h1 class="title">
              Coming soon!
            </h1>
            <h2 class="subtitle">
                <ul>
                  <li>8月30日(水)10:00〜　第一期 220枠</li>
                  <li>9月4日(月)20:00〜　第二期 200枠</li>
                  <li>9月9日(土)10:00〜　第三期 200枠</li>
                </ul>
                ※募集数の上限に達し次第、締め切る場合があります
                <br>
                登録後のチームに対するメンバーの追加・チーム情報の変更は10月31日(火)16:00まで

                <br>
                <div>
                  {% if user.team %}
                  <a class="button is-white is-outlined is-large" href="{% url "team_settings" %}">
                    チーム登録情報はこちら
                  </a>
                  {% else %}
                  <a class="button is-white is-outlined is-large" href="{% url "login" %}">
                    参加登録！
                  </a>
                  <p>参加登録にはGitHubのアカウントを利用します</p>
                  {% endif %}
                </div>
            </h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
