{% extends "include/layout.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="column is-9">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">ISUCON13</a></li>
            <li><a href="{% url "team_settings" %}">Team Settings</a></li>
            <li class="is-active"><a href="#" aria-current="page">Cloud Coupon</a></li>
        </ul>
    </nav>



    <section class="section">
      <h1 class="title">クラウド利用クーポン</h1>


      <div class="box">
      <article class="message is-warning">
        <div class="message-body">
          クーポンコードが発行されていません
        </div>
      </article>

      </div>

    </section>

</div>


{% endblock %}

