{% extends "include/layout.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="column is-9">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">ISUCON13</a></li>
            <li><a href="{% url "team_settings" %}">Team Settings</a></li>
            <li class="is-active"><a href="#" aria-current="page">Cloud Coupon</a></li>
        </ul>
    </nav>


    <form method="post">
      {% csrf_token %}

      <section class="section">
        <h1 class="title">クラウド利用クーポン</h1>


        <div class="box">
        <article class="message is-warning">
          <div class="message-body">
            <b>さくらのクラウド</b>のクーポンコードを使用するに当たっては、必ず以下の事項をよく読み、内容にご了承いただいた上でご使用いただけますようお願いいたします。
          </div>
        </article>

        {% if coupon.sacloud %}
        <article class="message is-info">
          <div class="message-body">
            <b>さくらのクラウド クーポンコード</b><br>
            <pre>{{ coupon.sacloud }}</pre>
          </div>
        </article>
        {% endif %}

        <pre>
１． 完全に無料ではありません。以下の点にご注意ください。

- 予習環境に必要となるクラウドサービス利用料金を補助する為に、2万円分のさくらのクラウドのクーポンコードを1チームに一つ発行いたします。
- 請求が確定してから登録することはできません、必ず事前にクーポンコードを登録してください。
- クーポンコードの登録期限は「2023/11/30」です。
- さくらのクラウドの利用にあたっては、クレジットカードの登録が必要となります。
- クーポンを適用したアカウントについては、2万円分を超えた時点、もしくは2024年以降（登録後4回目以降の月初）に請求が発生いたします。
- 予習環境の利用が終了しましたら、全てのリソースを削除してください。
    - リソースを削除しない限り課金は継続されるため、請求が発生する可能性があります。
- クーポン残高を他アカウントへ用いることはできません

２． 利用にあたっては、以下のルールを遵守願います。

- クラウドアカウントについて
    - ISUCON13予習環境用のクラウドアカウントを新規作成の上、作成したクラウドアカウントに対してクーポンコードを登録願います。
- ゾーンについて
    - サーバー等のリソースの作成は、東京第１ゾーンにて行ってください。それ以外のリージョン、ゾーンへの作成は禁止といたします。
- サーバーについて
    - 作成するサーバーのスペックは、下記スペック以下で行ってください。下記より高スペックなサーバーの作成は禁止といたします。
        - 仮想CPUコア数：4以下
        - メモリ：8G以下
        - ディスク：20GB/SSDのみ
- スイッチについて
    - スイッチの作成は、最大1つまでといたします。

３． その他、以下のような行為を禁止いたします。

- 目的（クーポンコードを付与したチームがISUCONの予習に使用する）以外の利用
    - 例：他のチームへクーポンを渡す、等
          </pre>
        </div>


        <div class="box">
          <article class="message is-warning">
            <div class="message-body">
              <b>AWS</b>のクーポンコードを使用するに当たっては、必ず以下の事項をよく読み、内容にご了承いただいた上でご使用いただけますようお願いいたします。
            </div>
          </article>

          {% if coupon.aws %}
          <article class="message is-info">
            <div class="message-body">
              <b>AWS クーポンコード</b><br>
              <pre>{{ coupon.aws }}</pre>
            </div>
          </article>
          {% endif %}

          <pre>
  １． 完全に無料ではありません。以下の点にご注意ください。
  
  - 競技参加に伴うクラウドサービス利用料金を補助する為に、50USDのAWSクーポンコードを1チームに一つ発行いたします。
  - 請求が確定してから登録することはできません、必ず事前にクーポンコードを登録してください。
  - 競技開催日当日、およびそれ以降のクーポンの適用についてはサポートしませんのでご留意ください。
    - ※AWSのアカウントで未納履歴があればクーポンは利用できないそうなのでご注意ください
    - <a href="https://aws.amazon.com/jp/apply-coupon/">AWS クーポンの適用方法</a>
  - クーポンの有効期限は2024年3月31日です。50USDを超えるか、期限を過ぎた利用はクーポンが適用されません。
  - 競技参加が終了しましたら、全てのリソースを削除してください。
      - リソースを削除しない限り課金は継続されるため、請求が発生する可能性があります。
  - クーポン残高を他アカウントへ用いることはできません
  

  ３． その他、以下のような行為を禁止いたします。
  
  - 目的（クーポンコードを付与したチームがISUCONの練習や競技参加に使用する）以外の利用
      - 例：他のチームへクーポンを渡す、等
            </pre>
          </div>
  
        {% if not coupon %}
        <button type="submit" name="action" value="agree" class="button is-danger">同意してクーポンコードを表示する</button>
        {% endif %}
      </section>

    </form>

</div>


{% endblock %}

