{% extends "include/layout_simple.html" %}
{% load static %}


{% block content %}

{% if user and user.is_authenticated %}
<script>
    document.location = "{% url 'register' %}";
</script>
{% else %}

<div class="container has-text-centered">
    <figure class="logo">
        <img src="{% static "img/isucon13_logo.png" %}" width="400px">
    </figure>
    <div class="column is-8 is-offset-2">
        {% if form.errors %}
        <article class="message is-danger">
            <div class="message-header">
                <p>Oops!</p>
            </div>
            <div class="message-body">
                <strong>Login FAILED!!</strong><br>
                {{ form.errors }}
            </div>
        </article>
        {% endif %}

        <h3 class="title has-text-grey">Login</h3>
        <p class="subtitle has-text-grey">Please login to proceed.</p>
        <div class="box">
            <a href="{% url 'social:begin' 'github' %}?next={{ next }}" class="button is-large is-fullwidth is-info">
                <span class="icon is-medium">
                    <i class="fab fa-github"></i>
                </span>
                <span>GitHubアカウントでログインする</span>
            </a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
