{% extends "include/layout.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="column is-9">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">ISUCON13</a></li>
            <li class="is-active"><a href="#" aria-current="page">Team Settings</a></li>
        </ul>
    </nav>

    {% if form.is_team_modify_available %}
      <article class="message is-info">
        <div class="message-body">
          チームメンバーの変更や登録情報の変更は {{ team_modify_end_at | date:"Y年m月d日 H時i分" }} までです。
        </div>
      </article>
    {% else %}
      <article class="message is-info">
        <div class="message-body">
          チーム情報の変更可能期間は終了しました。
        </div>
      </article>
    {% endif %}

    {% if not discord_is_connected %}
    <article class="message is-warning">
      <div class="message-body">
        Discord アカウントが接続されていないメンバーがいます。
      </div>
    </article>
    {% else %}
    <article class="message is-info">
      <div class="message-body">
        全てのメンバーのDiscord アカウントが接続されています。
      </div>
    </article>
    {% endif %}

    <article class="message is-warning">
      <div class="message-body">
        現地参加の希望は
        {% if user.team.want_local_participation %}「希望する」{% else %}「希望しない」{% endif %}
        で登録されています。
        <br>
        変更を希望する場合は <a href="{% url "local_participation" %}">こちらから</a> 変更してください。
      </div>
    </article>


    {% if not checnenv_is_done %}
    <article class="message is-danger">
      <div class="message-body content">
        <p>
          AWS環境チェックが完了していません。下のボタンから CloudFormation のテンプレートをダウンロードしデプロイしてください。
          <ul>
            <li>テンプレートダウンロード前にGitHubアカウントにSSH公開鍵を登録しておく必要があります</li>
            <li>CloudFormationによるデプロイ後に起動するEC2のインスタンスに isucon ユーザーでSSHによりログインをする必要があります (例: <code>ssh isucon@203.0.113.14</code>)</li>
            <li>インスタンスに割り当てられたグローバルIPアドレス (EIP) をAWSのコンソールにて確認してからSSHによるログインをしてください</li>
            <li>SSHによるログイン時に「全てのチェックをパスしました」とコンソール出力されれば成功です</li>
            <li>環境チェック後はスタックを削除してください</li>
          </ul>
        </p>
        <p>
          <a href="{% url "cloudformation_envcheck" %}">
            <button class="button is-info is-small">AWS環境チェック CloudFormation テンプレート</button>
          </a>
        </p>
      </div>
    </article>
    {% else %}
    <article class="message is-info">
      <div class="message-body content">
        <p>
          AWS環境チェックが完了しています。
          <ul>
            <li>環境チェック後はスタックを削除してください</li>
          </ul>
        </p>
        <p>
          <a href="{% url "cloudformation_envcheck" %}">
            <button class="button is-info is-small">AWS環境チェック CloudFormation テンプレート</button>
          </a>
        </p>
      </div>
    </article>
    {% endif %}

    {% if not user.discord_id %}
    <article class="message is-danger">
      <div class="message-body">
        Discord アカウントを接続してください。 <a href="{% url "discord_oauth_begin" %}">接続する</a>
      </div>
    </article>
    {% endif %}

    <form method="post">
      <input type="hidden" name="action" value="team"/>
      {% csrf_token %}

      <section class="section">
        <h1 class="title">Information</h1>
        <div class="box">
            
          {% if form.errors %}
          <div class="message is-danger">
              <div class="message-header">
                {% for error in form.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
              <div class="message-body">
                  <strong>入力内容にエラーがあります</strong><br>
                  {{ form.errors }}
              </div>
          </div>
          {% endif %}

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">チーム名</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  {{ form.name|add_class:"input" }}
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">チーム番号</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input is-static" value="{{ user.team.id }}" readonly>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">チームパスワード</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input is-static" style="width: 200px;" id="team_password" value="{{ user.team.password }}" readonly>
                  <button id="copy_button" type="button" class="button is-rounded is-small">コピー</button>
                </p>
                <p class="help">チームメンバーを追加するには、チーム番号とチームパスワードをメンバーに伝えて参加登録を行ってください。</p>
              </div>
            </div>
          </div>

          {% if user.team.owner.id == user.id %}
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">連絡先</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input is-static" value="{{ user.team.owner.email }}" readonly>
                </p>
                <p class="help">メールアドレスはチーム代表者にのみ表示されています</p>
              </div>
            </div>
          </div>
          {% endif %}

          {% if is_team_modify_available %}
            <button type="submit" class="button is-primary">保存</button>
          {% endif %}

        </div>
      </section>

    </form>

    <section class="section">
      <h1 class="title">Members</h1>
      <div class="box">


        <div style="display: flex; flex-wrap: wrap;justify-content: center;">

          {% for member in team_members %}
          <div class="item" style="width: 200px; padding-left: auto; text-align: center;">
            {% if member.id == user.id and is_team_modify_available %}
              {# 編集可能 #}
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="user"/>
                <img src="{{ member.icon.thumbnail.url }}" class="open-icon">
                <p>{% render_field user_form.display_name style="text-align: center" class="input is-small" %}
                {% if member.team.owner == member %}
                <p>チーム代表者</p>
                {% else %}
                <p>チームメンバー</p>
                {% endif %}
                <p>
                  {% if member.discord_id %}
                    <i class="fa-brands fa-discord"></i> {{ member.discord_username }}
                  {% else %}
                    <i class="fa-brands fa-discord" style="color: red;"></i>
                    <a href="{% url "discord_oauth_begin" %}" class="button is-small">接続する</a>
                  {% endif %}
                </p>
                <section>
                  <button type="button" class="button open-icon is-small">アイコン変更</button>
                  <button type="submit" class="button is-small is-primary">保存</button>
                </section>
              </form>
            {% else %}
              {# 表示のみ #}
              <img src="{{ member.icon.thumbnail.url }}">
              <p>{{ member.display_name }}</p>
              {% if member.team.owner == member %}
              <p>チーム代表者</p>
              {% else %}
              <p>チームメンバー</p>
              {% endif %}

              <p>
                {% if member.discord_id %}
                  <i class="fa-brands fa-discord"></i> {{ member.discord_username }}
                {% else %}
                  <i class="fa-brands fa-discord" style="color: red;"></i>
                  {% if member.id == user.id %}
                    <a href="{% url "discord_oauth_begin" %}" class="button is-small">接続する</a>
                  {% else %}
                    (未接続)
                  {% endif %}
                {% endif %}
              </p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% if is_team_modify_available %}
      <section class="has-text-centered">
        <a class="button is-danger" href="{% url "decline" %}">チーム登録の辞退</a>
      </section>
    {% endif %}
</div>


<div class="modal" id="icon-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">アイコン登録</p>
      <button class="delete close-icon" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div id="icon-croppie"></div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="icon-save">保存</button>
      <button class="button close-icon">キャンセル</button>
    </footer>
  </div>
</div>


{% endblock %}

{% block script %}
<script>
  $('#team_password').focus(function(){
    this.select();
  });

  $('#copy_button').click(function(){
    $('#team_password').select();
    document.execCommand('copy');
    alert('チームパスワードをクリップボードにコピーしました');
  });


  var iconCroppie = $("#icon-croppie").croppie({
      enableExif: true,
      viewport: {
          width: 400,
          height: 400,
          type: 'square'
      },
      boundary: {
          width: 600,
          height: 600
      },
      showZoomer: true,
      enableResize: false,
      enableOrientation: true,
      mouseWheelZoom: 'ctrl'
  });

  $(".open-icon").click(function(){

    var input = $('<input type="file" accept="image/*">');
    input.change(function(){
      var file = this.files[0];
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#icon-modal").addClass("is-active");
        iconCroppie.croppie('bind', {
          url: e.target.result
        }).then(function(){
          console.log('Croppie bind complete');
        });
      }
      reader.readAsDataURL(file);
    });
    input.click();
  });

  $(".close-icon").click(function(){
    $("#icon-modal").removeClass("is-active");
  });

  $("#icon-save").click(function(){
    iconCroppie.croppie('result', {type: 'blob', size: 'original', format: 'png', quality: 1, circle: false }).then(function(blob){
      var fd = new FormData();
      fd.append("icon", blob, "icon-cropped.png");

      $.ajax('{% url "update_user_icon" %}',{
        type: 'post',
        processData: false,
        contentType: false,
        dataType: "html",
        data:fd,
        success: function(data) {
          location.reload();
        },error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log("ERROR");
            console.log(textStatus);
            console.log(errorThrown);
            alert("失敗しました");
        }
      });


    });
  });


</script>
{% endblock %}
